/*
.book-card{    
    
    border: 2px solid black;
    margin-right: 2rem;
    width: 18vw;
    background: #456;
    padding : 50px;
    height: 95%;
    display: flex;  
    justify-content: space-between;  
    flex-wrap: wrap; 
    margin-left: 5px;
    margin-right: 10px;
    .image{
        margin-left: 10px;
    }
    .titulo {
        color: rgb(8, 7, 7); 
        font-size: 32px;
    }
    .resumen{
        color: rgb(243, 238, 238);
        font-size: 24px;
    }
    .peliculas-container{ 
        flex-wrap: wrap;
    }
    
}
button{
    background-color: #c7d7f4;
    color: #0a0a0a;
    font-weight: 1000;
    border-radius: 36px; 
}
  

// Estilos para la lista de números  
.numeros-lista {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  // Estilos para cada número en la lista  
  






  /* Estilo para el título "TRENDING" */
h1 {
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

/* Estilo para el contenedor de las películas */
.peliculas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

/* Estilo para cada tarjeta de película */
.book-card {
  width: 450px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilo para la imagen de la película */
.card-img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Estilo para el título de la película */
.titulo {
  font-size: 24px;
  margin-top: 10px;
  color: #333;
}

/* Estilo para el resumen de la película */
.resumen {
  margin-top: 10px;
  color: #666;
}

/* Estilo para el botón "Ver más" */
.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

/* Estilo para la lista de números de página */
.numeros-lista {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
}

/* Estilo para cada número de la lista */
.numero-item {

  display: inline-block;
  background-color: #007BFF;
  color: #fff;
  font-size: 18px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.active {
  background-color: #000000;
  color: #fff;
}
.numero-item:hover {
  background-color: #757373;
}

.numero-item.active {
  color: #007bff;
}
