<div class="container-fluid">
    <div class="row">
      <div class="cont-list"> 
        <h3>Usuarios</h3>
        <ul class="list-group" *ngFor="let u of users">
          <li class="list-group-item">
            <a class="user" href="/chat/{{ u.id }}">
              <img class="avatar" [src]="u?.avatar" alt="User Image" />
              <h5 class="title">{{ u.name }}</h5>
            </a>
          </li>
        </ul>
      </div> 
      <!-- cuando se selecciona el chat-->
      <div class="cont-chat" *ngIf="receiver">
        <h3>Chat con {{ receiverData?.name }}</h3>
        <div class="chat-container">
          <div class="chat-messages" *ngFor="let c of mensajeChat">
            <div
              class="bubble-message"
              [ngClass]="receiver == c?.sender_id ? 'left' : 'right'"
            >
              <div class="message-user">{{ c.message }}</div>
              <div class="message-data">{{ c.timestamp }}</div>
            </div>
          </div>        
        </div>
 
    
        <!-- enviar el mensaje -->
        <div class="chat-input">
          <form>
            <input
              type="text"
              class="form-control"
              placeholder="Escriba su mensaje aqui..."
              [value]="mensaje"
              (change)="getMensaje($event)"
            />
            
            <button type="submit" class="btn btn-primary" (click)="AgregarMensaje()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
 