.nav-padre{
    background: #162835!important;   
    color: #162835!important;
    border-radius: 0!important;
    align-items: right;
    height: 120px;
    width: 2865px;
}
.contenedor-navbar { 
    display: flex;   
    justify-content: space-between;   
    padding: 20px 5px; 
} 
.btn-end{
    background-color:  #162835;
    border: none;
    cursor: pointer;
}
.bi-box-arrow-right{
    height: 60px;
    width: 60px;
    color: white;
    background-color: #162835;     
}

.bi-chat{
    height: 50px;
    width: 50px;
    color: white;

}


.nav-link{
    font-size: 50px;
    color: white;

}
.btn-block{
    font-size: 50px;
    color: white;
    cursor: pointer;
}
 
.titulo{
    font-size: 50px;
    color: white ;
    cursor: pointer;  
}
 