.pelicula-header{
    display:  flex;
    flex-wrap: wrap;
    align-items: left;
    background-color:rgb(79, 116, 117)
}
.img-container{
    display: flex;
    flex-direction: column;
   width: 500;
   
}
.img-container img{
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid white;
    width: 550px;
    object-fit:cover;
    image-rendering:optimizeQuality;
    margin-left: 2px;
}

.pelicula-title{
    width: 40%;
    /*text-align: center;*/
    font-size: 30px;
    margin-left: 20px;
    color: white;
    width: 1000px;
}

.titulo{
    text-align: center;
    color: black;
}
.resumen{
    text-align: center;
}
.titulo_eslogan{   
    color: black;
    margin-top: 100px; 
    text-align: left
}
.eslogan{    
    text-align: left
}


h3{
    color: black;
    margin-top: 10px; 
    text-align: left;
    margin-left: 5px;
    font-size: 30px;
}
.informacion{
    width: 1000px;
    height: 500px;
}


.producionpelicula{
    margin-left: 50px;
    font-size: 30px;
    color: white;
}
.producida{
    margin-left: 50px;
    font-size: 30px;
    color: white;
}
.gen{
    display: inline-block;
    padding: 100 20px;
    
}
.genero{
    width: calc(100% - 10px);  
    padding: 25px; 
}

.pepe{
    display: flex;
    flex-direction: row;
}

.idiomas{
    display: flex;
    flex-direction: row;
}

.homepage{
    margin-top: 50px;
    font-size: 30px;
    background-color: #3b7e8a;
    color: #fff;
 
}

/*
.trailer{   
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
     */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */  
    /* gap: 10px; /* Espacio entre los elementos */
    /* width: 300px; /* Ancho de la cuadrícula (ajusta según tus necesidades) */
/*
}

.video{
    margin-left: 50px;
    font-size: 20px;
    background-color: rgb(74, 116, 117);   
    text-align: center;
    color: white;
    width: calc(30% - 10px); /* El 10px es para el espacio entre botones */
   /* margin-bottom: 10px; /* Espacio entre las filas */
  /*  padding: 10px;
    
}*/
 

.trailer {
   display: inline-block;
   padding: 100 20px;
   height: 55px;
  }
  
    .video {
    width: calc(100% - 20px);        
    padding: 10px;
    text-align: center;
    background-color: #3b7e8a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    font-size: 25px;
    }

    .comentario-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;

    }

    .form-control {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    }

    .btn-primary {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    }

    .fa-paper-plane {
    font-size: 20px;
    }
    .bi-messenger{
    width: 200;
    }