.register-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

h2 {
font-weight: 700;
text-align: left;
}

.register-container .left {
background-image: url("../../images/oscura.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 100%;
width: 100%;
}
.register-container .right {
background-color: white;
width: 100%;
height: 100%;
}
.col-md-offset-3{
    width: 500px; 
}
.row {
 
    height: 100%;
    width: 110%;
    display: flex;
    align-content: center !important;
    align-items: center !important;
}
.button-container {
padding: 16px 0;
display: flex;
justify-content: space-between;
}
.register {
background-color: #c7d7f4;
color: #3b64b1;
font-weight: 500;
border-radius: 16px;
}
.login {
color: #3b64b1;
font-weight: 500;
border-radius: 16px;
}

.left{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #f1f2fb;
font-weight: 700;
}

/* Style for the login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  /* Style for the left side of the container */
  .left {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .left h3 {
    font-size: 24px;
    color: #333;
  }
  
  .left h4 {
    font-size: 18px;
    color: #555;
  }
  
  /* Style for the right side of the container */
  .right {
    flex: 1;
  }
  
  /* Style for the jumbotron */
  .jumbotron {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the form */
  form {
    margin-top: 20px;
  }
  
  /* Style for form labels */
  label {
    font-size: 16px;
    color: #333;
  }
  
  /* Style for form inputs */
  input.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  /* Style for the buttons */
  .button-container {
    text-align: center;
  }
  
  .btn.login {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn.register {
    background-color: #555;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .row{
    justify-content: center;
    align-items: center;
  }
  
  .btn.register:hover {
    background-color: #333;
  }
 
  .text-danger{
    color: red;
  }